<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
  
   
    <h1>회원관리시스템</h1>
    <h3><span name="ing"><%=usering%><span> <%=userid%></h3>
    
        
        <a href="http://127.0.0.1:5503/1013express_DB/public/ex02Join.html"><button>회원가입</button>
        <a href="http://127.0.0.1:5503/1013express_DB/public/ex03Delete.html"><button>회원삭제</button>
        <a href="http://127.0.0.1:5503/1013express_DB/public/update.html"><button>회원수정</button>
        <a href="http://127.0.0.1:3001/all"><button >회원전체검색</button>
        <a href="http://127.0.0.1:5503/1013express_DB/public/ex04.html"><button>회원검색</button>
        <a name="site" href="http://127.0.0.1:3001/delete"><button name="btn"><%=inout%></button>

        
        
    
</body>
</html>